<a href="https://colab.research.google.com/github/dbtwelve/BAEKJOON/blob/main/BAEKJOON1_4%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
pages = [10,3,8,4,12,5,9,2,4,11,7]
days = 5
avr = sum(pages)//len(pages)
day_page = sum(pages)//days

answer = []
temp = [pages[0]]
for i in range(1, len(pages)):
    if sum(temp)+pages[i] < day_page:
        temp.append(pages[i])
    if sum(temp) > avr*2:
        answer.append((temp,sum(temp)))
        temp = []
        

print(avr,day_page,answer)

6 15 [([10, 3], 13), ([8, 4, 2], 14)]

In [19]:
print(r'|\_/|')
print(r'|q p|   /}')
print(r'( 0 )"""\ ')
print(r'|"^"`    |')
print(r'||_/=\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [2]:
A, B, C = input().split()
A = int(A)
B = int(B)
C = int(C)
print((A+B)%C)
print(((A%C)+(B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

1 2 3
0
0
2
2

In [ ]:
A =int(input())
B = list(map(int,input()))
m = 0
answer = 0
count = 1
for i in B[::-1]:
    m = i * A
    print(m)
    answer = answer + m * count
    m = 0
    count = count * 10
print(answer)

472
385
2360
3776
1416
181720

In [ ]:
#1330
A,B = input().split()
A = int(A)
B = int(B)
if A < B:
    print('<')
if A > B:
    print('>')
if A == B:
    print('==')

5 5
==

In [ ]:
#9498
score = int(input())
if score >= 90 : 
    print('A')
elif score >= 80 : 
    print('B')
elif score >= 70 : 
    print('C')
elif score >= 60 : 
    print('D')
else: 
    print('F')

89
B

In [ ]:
#2753
year = int(input())
if (year % 4) == 0 and (year % 100) != 0 or (year % 400) == 0: print(1)
else: print(0)

1999
0

In [ ]:
#14681
x = int(input())
y = int(input())
if x > 0 and y > 0:
    print(1)
if x > 0 and y < 0:
    print(4)
if x < 0 and y < 0:
    print(3)
if x < 0 and y > 0:
    print(2)

9
-13
4

In [ ]:
#2884
H,M = input().split()
H = int(H)
M = int(M)
if M >= 45 :
    M -= 45
else:
    if H == 0:
        H = 23
    else:
        H -= 1
    M = M + (60 - 45)
print(H,M)

10 10
9 25

In [ ]:
#2739
A = int(input())
if A >= 1 and A <=9:
    for i in range(1,10):
        print(A,"*",i,"=",A*i)

10

In [ ]:
#10950
for _ in range(int(input())):
    A,B = input().split()
    A = int(A)
    B = int(B)
    print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
#8393
answer = 0
for i in range(1,int(input())+1):
    answer += i
print(answer)

3
6

In [4]:
#15552

import sys
for _ in range(int(sys.stdin.readline())):  #colab jupiter notebook에서 지원안함
    A, B = map(int, sys.stdin.readline().split(' '))
    print(A+B)

ValueError: ignored

In [5]:
#2741
for i in range(1,int(input())+1):
    print(i)

5
1
2
3
4
5

In [9]:
#2742
for i in range(int(input()),0,-1):
    print(i)

5
5
4
3
2
1

In [15]:
#11021
for i in range(1,int(input())+1):
    A,B = map(int,input().split()) 
    print("Case #{0}: {1}".format(i,A+B))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [16]:
#11021
for i in range(1,int(input())+1):
    A,B = map(int,input().split()) 
    print("Case #{0}: {1} + {2} = {3}".format(i,A,B,A+B))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [17]:
#2438
for i in range(1,int(input())+1):
    print('*'*i)

5
*
**
***
****
*****

In [18]:
#2439
N = int(input())
for i in range(1,N+1):
    print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

In [23]:
#10871
N, M = map(int,input().split()) 
answer = []
for i in input().split():
    if int(i) < M:
        answer.append(i)
print(*answer)

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [25]:
#10871
N, M = map(int,input().split()) 
answer = []
for i in input().split():
    if int(i) < M:
        print(i, end = " ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [28]:
#10952
while True:
    N,M = map(int,input().split()) 
    if N == 0 and M == 0:
        break
    print(N+M)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [31]:
#10951
while True:
    try:
        N,M = map(int,input().split()) 
        print(N+M)
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [42]:
#1110
temp = N = int(input())
count = 0
while True:
    first = temp//10
    second = temp%10
    M = second*10 + ((first + second)%10)
    count += 1
    #print(M,count)
    if N == M:
        print(count)
        break
    temp = M

26
68 1
84 2
42 3
26 4
4